<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') %>
    <body id="page-top">
<%- include('layouts/navbar') %>
        <!-- About-->
        <section class="page-section bg-dark px-4 px-lg-3">
            <div class="col-lg-12 text-center">
                <h2 class="text-white mt-0">Logs</h2>
                <hr style="color: rgb(212, 208, 208);">
            </div>
            <div class="container container border-success border-3">
                <% posts.forEach(post => { %>
                 <a href="/posts/<%= post._id %>"><h5 style="color: aliceblue;"><%= post.title %></h5></a>
                    <div class="container container-md border-2 border-success">
                        <p style="color: azure;"><%= post.body %></p>
                    </div>
                    <div class="container flex-end">
                         <small class="" style="color: aquamarine;">created on: <%= post.createdAt.toUTCString() %></small>
                    </div>
                    <br>
                    <div class="container">
                        <button class="btn btn-sm btn-outline-warning btn-flex flex-end">Track</button>
                        <button class="btn btn-sm btn-outline-success btn-flex flex-end">Update</button>
                        <button class="btn btn-sm btn-outline-danger m-auto">Delete</button>
                    </div>
             
                    <hr style="color: darkgray;">
        
                <% }) %>
            </div>
        </section>
        <%- include('layouts/footer') %>
        <%- include('layouts/scripts') %>
    </body>
</html>




